

# Avaliação Inicial de Ciência dos dados

**2020 - 1o. semestre**

___
## Índice

- [Titanic](#titanic)
- [Questão 1](#q1)
- [Questão 2](#q2)
- [Questão 3](#q3)
- [Questão 4](#q4)
- [Questão 5](#q5)
___

<div id="titanic"></div>

## Titanic

Entre as muitas competições disponíveis na plataforma Kaggle, encontra-se a de *Machine Learning* do Titanic conforme apresentado neste [link](https://www.kaggle.com/c/titanic/data).

A base de dados apresentada no arquivo `titanic.xlsx` contém informação de 891 passageiros para os quais foram mensurados as seguintes informações (as categorias serão mantidas em inglês assim como os nomes das variáveis):
 
 * `Survived`: indica se passageiro sobreviveu ou não.
    - 0 = No,
    - 1 = Yes.
 * `Pclass`: indica a classe da passagem (*ticket*).
    - 1 = 1st, 
    - 2 = 2nd, 
    - 3 = 3rd.
 * `Sex`: sexo do passageiro. 
    - female,
    - male.
 * `Age`: idade em anos.
 * `Sibsp`: número de irmãos e/ou cônjuges a bordo do Titanic.
 * `Parch`: número de pais e/ou filhos a bordo do Titanic.
 * `Ticket`: número do *ticket*.
 * `Fare`: tarifa do passageiro.
 * `Cabin`: número da cabine.
 * `Embarked`: portão de embarque.
    - C = Cherbourg, 
    - Q = Queenstown, 
    - S = Southampton.


**Notas:**
A variável `Pclass` pode ser considerada uma *proxy* da situação socioeconômico do passageiro, ou seja, 
1st = Upper, 2nd = Middle,  3rd = Lower.

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\liste\OneDrive - Insper - Institudo de Ensino e Pesquisa\2 Semestre Insper\Ciencia_dos_Dados\Simulado C_DADOS

Carregando os dados do arquivo `titanic.xlsx`:

In [3]:
titanic = pd.read_excel('titanic.xlsx')

Para facilitar algumas análises nesta **Avaliação**, vamos excluir os passageiros que não possuem informação para a variável `Age` usando o comando `dropna()`:

In [4]:
dados = titanic.dropna(subset = ['Age']).copy()

Para saber quantas linhas (passageiros) e colunas (variáveis) há no *DataFrame* nomeado `dados`:

In [5]:
dados.shape

(714, 12)

___
**Definindo as variáveis qualitativas como categóricas:**

O pandas não tem como saber quais variáveis são qualitativas ao carregar os dados. Então precisamos modificar as colunas explicitamente.

Já deixamos isso pronto para você nesta avaliação:

In [6]:
dados.loc[:,'Survived'] = dados['Survived'].astype('category')
dados.loc[:,'Pclass'] = dados['Pclass'].astype('category')
dados.loc[:,'Sex'] = dados['Sex'].astype('category')
dados.loc[:,'Cabin'] = dados['Cabin'].astype('category')
dados.loc[:,'Embarked'] = dados['Embarked'].astype('category')

Agora vamos renomear os rótulos das variáveis qualitativas `Survived` e `Pclass` com comando: `.cat.categories`:

In [7]:
dados.Survived.cat.categories = ['No', 'Yes']
dados.Pclass.cat.categories = ['1st','2nd','3rd']

___
***DataFrame* `dados` que deve considerar na resolução das questões a seguir:**

In [8]:
dados.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,No,3rd,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,Yes,1st,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,Yes,3rd,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

<div id="q1"></div>

___
### Questão 1

Faça as seguintes manipulações:
 1. **[1 ponto]** Filtre apenas as linhas dos passageiros que **viajaram na segunda classe** e que **sobreviveram** e selecione as variáveis: `Age` e `Fare`. Guarde esse subconjunto em um novo *DataFrame* chamado `surv`.
 
 $\hspace{0.5mm}$
 1. **[1 ponto]** Nesse subconjunto `surv`, encontre o passageiro que pagou o maior valor de tarifa. Se houver mais de um, encontre o mais velho.

In [9]:
# Coloque seu código aqui...

<div id="q2"></div>

___
### Questão 2

Faça as seguintes manipulações considerando o *DataFrame* `dados`:
  1. **[1 ponto]** Crie uma variável chamada `Age_group` que contenha as seguintes categorias a partir da variável `Age`:
        * `Age` $<20$ years $\rightarrow$ **child or teen**
        * $20\leq$ `Age` $<60$ years $\rightarrow$ **adult**
        * `Age` $\geq60$ years $\rightarrow$ **senior**
  
  $\hspace{0.5mm}$
  1. **[1 ponto]** Construa uma tabela de **frequências relativas** dessa nova variável `Age_group`.

In [10]:
# Coloque seu código aqui...

<div id="q3"></div>

___
### Questão 3

Faça as seguintes manipulações considerando o *DataFrame* `dados`:
  1. **[1 ponto]** Crie uma tabela cruzada com as variáveis `Survived` e `Pclass` que contenha **as frequências relativas** que permitam visualizar o percentual de passageiros em cada categoria de `Pclass` **relativo ao total de passageiros em cada nível de `Survived`**.
  
  $\hspace{0.5mm}$
  1. **[1 ponto]** Dos passageiros não sobreviventes, qual a frequência relativa (em decimal) destes que viajaram  na 3rd classe? E dos passageiros sobreviventes, qual a frequência relativa (em decimal) destes que viajaram  na 1st classe?

In [ ]:
# Coloque seu código aqui...

<div id="q4"></div>

___
### Questão 4

Faça as seguintes manipulações considerando o *DataFrame* `dados`:

  1. **[1 ponto]** Para **cada nível da variável `Survived`**, crie uma tabela com medidas-resumo da variável `Fare`.
  
  $\hspace{0.5mm}$
  1. **[1 ponto]** 
  Verifique quais afirmações estão corretas de acordo com as medidas-resumo calculadas no item anterior.
- 25% dos passageiros não sobreviventes pagaram, no máximo aproximadamente, 7.89 no valor da tarifa. 
- No Dataframe dados, há 424 passageiros sobreviventes. 
- A minoria dos passageiros não sobreviventes pagou, em média aproximadamente, mais do que 22.965 no valor da tarifa. 
- 25% dos passageiros sobreviventes pagaram, no mínimo aproximadamente, 13.00 no valor da tarifa. 
- A medida coeficiente de variação é dada pelo desvio padrão dividido pela média., permitindo interpretar a dispersão relativamente a média. Neste caso, a dispersão relativa a média da variável Fare é levemente menor entre os passageiros sobreviventes do que entre os não sobreviventes.

In [ ]:
# Coloque seu código aqui...

<div id="q5"></div>

___
### Questão 5

Estude a associação entre as variáveis `Age` e `Fare` separando os passageiros sobreviventes dos não sobreviventes.

É possível afirmar, por exemplo, que pessoas mais velhas tendem a pagar por tarifas mais caras? E a associação entre essas variáveis quantitativas se dá da mesma forma entre os sobreviventes e não sobreviventes?

Para investigar tais hipóteses, faça:

 1. **[0.5 ponto]** Gere um **gráfico de dispersão** entre as variáveis `Age` e `Fare` considerando os passageiros sobreviventes e não sobreviventes separadamente.
 
 $\hspace{0.5mm}$
 1. **[0.5 ponto]** Calcule o **coeficiente de correlação linear** entre as variáveis `Age` e `Fare` só com os passageiros não sobreviventes. E a correlação só com os sobreviventes.
 
 $\hspace{0.5mm}$
 1. **[1 ponto]** **No Blackboard, responda as perguntas com base nos resultados dos itens anteriores.**

In [ ]:
# Coloque seu código aqui...